.sns_link {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  gap: 1.25rem;

  a:hover .icon {
    background-color: #C9B4FF;
    filter: drop-shadow(0 0 5px rgba(201, 180, 255, 0.5));
  }
}
