.sns_link {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  gap: 1.25rem;

  a:hover .icon {
    background-color: var(--accent-color);
  }
}
